nav a{
  text-decoration: none;
  font-family: LGSMART;
}

nav a.active {
  border-bottom: 3px solid #a50034;
  font-family: LGSMARTSEMIBOLD;
  color: black;
}

a:visited { 
  color: #707070; 
 }

 h1 {
   font-family: LGSMARTBOLD;
 }

 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 8px;
  margin-left: 30px;
  margin-right: 30px;
  text-decoration: none;
}

hr {
  margin: 0;
}

.navmenu { margin: 0 auto }
.navlink { display: flex; justify-content: center }

.dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
  margin: 3px;
}

.dotholder {
  text-align: center;
  padding: 8px;
}

 @font-face {
  font-family: LGSMART;
  src: url(./fonts/LGSmHaR_v1.4_151215.ttf);
}

 @font-face {
  font-family: LGSMARTSEMIBOLD;
  src: url(./fonts/LGSmHaSB_v1.4_151215.ttf);
}

 @font-face {
  font-family: LGSMARTBOLD;
  src: url(./fonts/LGSmHaB_v1.4_151215.ttf);
}